image_processing
human_segmetation/data
DL/audio classifier/data
transfer_learning/datasets
RAG/rag_tutorial_code
RAG/.env
RAG/rag_from_scrath.ipynb
LLMs/LLM_Langchain/basic_chatbot_using_olama_openai/.env
fine tunning/lora_qlora_fine_tunning/krish_tutoiral
MLOPS/mlops_3/data
MLOPS/mlops_3/models
MLOPS/mlops_3/report
MLOPS/mlops_4_eperinment_tarcking_mlflow/mlartifacts
NLP/projects/resume screening/data.csv
NLP/baic tutorial/dataset.csv